@model BusinessObject.Modals.User

@{
    ViewData["Title"] = "Change Password";
    var userIdToChangePass = ViewData["UserIdToChangePass"];
}


<div class="ml-4 mr-4">
    <h4>Change Password</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form id="changePasswordForm" asp-action="ChangePassword" onsubmit="return validateForm()">
                <input name="userIdToChangePass" value="@userIdToChangePass" />
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Old Password</label>
                    <input type="password" asp-for="Password" name="OldPassword" class="form-control" required />
                </div>
                <div class="form-group">
                    <label class="control-label">New Password</label>
                    <input type="password" class="form-control" name="NewPassword" required />
                    <div id="newPasswordError" style="color: red;"></div>
                </div>
                <div class="form-group">
                    <label class="control-label">Confirm Password</label>
                    <input type="password" class="form-control" name="ComfirmPassword" required />
                    <div id="confirmPasswordError" style="color: red;"></div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

<script>
    function validateForm() {
        var newPassword = document.forms["changePasswordForm"]["NewPassword"].value;
        var confirmPassword = document.forms["changePasswordForm"]["ComfirmPassword"].value;

        var newPasswordError = document.getElementById("newPasswordError");
        var confirmPasswordError = document.getElementById("confirmPasswordError");

        if (newPassword === "") {
            newPasswordError.innerHTML = "Please enter a new password";
            return false;
        } else {
            newPasswordError.innerHTML = "";
        }

        if (confirmPassword === "") {
            confirmPasswordError.innerHTML = "Please confirm your password";
            return false;
        } else if (newPassword !== confirmPassword) {
            confirmPasswordError.innerHTML = "Passwords do not match";
            return false;
        } else {
            confirmPasswordError.innerHTML = "";
        }

        return true;
    }
</script>



